body {
    /*text-align: center;*/
    background: gray;
}
#task_title{
    margin: auto 5px;
    width: 1000px;
    background-color: #3c4543;
    border-radius: 15px;
}
#init_set{
    position: absolute;
    top:100px;
    left:10px;
}
#timer_state{
    position: absolute;
    top:100px;
    left: 500px;
}
#Button_set {
    position: absolute;
    top: 400px;
    left: 550px;
}
.element {
    margin: 5px;
    width: 400px;
    background-color: #3c4543;
    border-radius: 15px;
}
h2 {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #acd1b2;
}
#startButton, #stopButton, #resetButton{
        margin: 30px auto;
        width: 250px;
        border-radius: 20px;
        box-shadow: 0 6px 0 #e91b0c;
        background: #f44336;
        color: #fff;
        cursor: pointer;
        padding: 2px;
        text-align: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 40px;
    }
    #startButton:hover, #stopButton:hover, #resetButton:hover{
        opacity: 0.8;
    }
    #startButton.pushed, #stopButton.pushed, #resetButton.pushed, {
        margin-top: 32px;
        box-shadow: 0 2px 0 #e91b0c;
    }
h2 select {
    font-size: 50px;
}
#title_input {
    width: 500px;
    font-size: 30px;
}
