html {
    font-size: 100.0%;
}
body {
    /*text-align: center;*/
    background: gray;
}
#container {
     width: 80%;
     margin: 0 auto;
     overflow: hidden;
 }
#header{
}
#side{
    float: left;
    width: 30%;
    /*width: 300px*/
}
#main{
    float: right;
    width: 65%;
    /*margin-left: 310px;*/
}
#Button_set {
    clear: right;
    display: block;
    margin: 0 auto;
}
#task_title, #set_time, #timer, #state_sentence {
    margin: 0 auto;
    width: 100%;
    background-color: #3c4543;
    border-radius: 15px;
}
#task_title {
    font-size: 2.0rem;
}
#timer {
    font-size: 1.5rem;
}
#state_sentence {
    font-size: 1.8rem;
}
h2 {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #acd1b2;
}
#startButton, #stopButton, #resetButton{
        margin: 30px auto;
        width: 250px;
        border-radius: 20px;
        box-shadow: 0 6px 0 #e91b0c;
        background: #f44336;
        color: #fff;
        cursor: pointer;
        padding: 2px;
        text-align: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 40px;
    }
    #startButton:hover, #stopButton:hover, #resetButton:hover{
        opacity: 0.8;
    }
    #startButton.pushed, #stopButton.pushed, #resetButton.pushed, {
        margin-top: 32px;
        box-shadow: 0 2px 0 #e91b0c;
    }

/* for signup page */
#title_input {
    width: 500px;
    font-size: 30px;
}
