body {
    /*text-align: center;*/
    height: 100%;
    font-size: 16px;
    font-family: Verdana, Arial;
    background-image: url("../image/brown.jpg");
}

.page-header{
    background-color: #fff;
    border-radius: 15px;
}

.col-md-4{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    margin: 0 auto;
}

.org_wapper {
}

#org_container {
     min-height: 100%;
     height: 100%;
     width: 80%;
     margin: 0 auto;
     overflow: hidden;
     background-color: #ddd;
     border-radius: 15px;
     padding: 0 10px;
     box-shadow: 0 0 3px rgba(0,0,0,0.5);
 }
input#submit_button {
    margin: 30px auto;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 6px 0 #e91b0c;
    background: #f44336;
    color: #fff;
    cursor: pointer;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
    input#submit_button:hover{
        opacity: 0.8;
    }
#header{
}
#side{
    float: left;
    width: 30%;
    /*width: 300px*/
}
#main{
    float: right;
    width: 65%;
    /*margin-left: 310px;*/
}
#Button_set {
    clear: right;
    display: block;
    margin: 0 auto;
}
#task_title, #set_time, #timer, #state_sentence {
    margin: 0 auto;
    width: 100%;
    background-color: #3c4543;
    border-radius: 15px;
}
#task_title {
    font-size: 30px;
}
#timer {
    font-size: 25px;
}
#state_sentence {
    font-size: 25px;
}
h1, h2, h3 {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #acd1b2;
}
h2 {
    text-align: center;
}
h3 {
    text-align: left;
    padding-left: 5px;
}
#startButton, #stopButton, #resetButton, #backButton, #doneButton{
        margin: 30px auto;
        width: 250px;
        border-radius: 20px;
        box-shadow: 0 6px 0 #e91b0c;
        background: #f44336;
        color: #fff;
        cursor: pointer;
        padding: 2px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
    }
    #startButton:hover, #stopButton:hover, #resetButton:hover, #backButton:hover, #doneButton:hover{
        opacity: 0.8;
    }
    #startButton.pushed, #stopButton.pushed, #resetButton.pushed, #backButton.pushed, #doneButton.pushed{
        margin-top: 32px;
        box-shadow: 0 2px 0 #e91b0c;
    }

/* for signup page */
#title_input {
    width: 500px;
    font-size: 30px;
}

.view_task{
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
    border-radius: 15px;
}

#done_elements{
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    border-radius: 15px;
}

#done_elements h2{
    color: #000;
}
