{% extends "layout.html" %}
{% block content %}
<div id="container">
    <div id="header">
        <div id="task_title">
            <h2>{{ todo_name }}</h2>
        </div>
    </div>
    <div id="side">
        <div class="element" id="set_time">
            <h2>
                設定時間&nbsp;
                {% if set_time >= 3600 %}
                    {{ set_time // 3600}}&nbsp;時間&nbsp;
                {% endif %}
                {% if (set_time // 60) % 60 > 0 %}
                    {{ (set_time // 60) % 60}}&nbsp;分
                {% endif %}
            </h2>
            <h2>
                開始時刻
                <span id="start_time"></span>
            </h2>
            <h2>
                終了予定時刻
                <span id="end_time"></span>
            </h2>
        </div>
        <div class="Button" id="backButton">
            <a href="{{ url_for('setting') }}" style="text-decoration: none;">
                BACK
            </a>
        </div>
    </div>
    <div id="main">
        <div class="element" id="timer">
            <h2>
                開始から
                <span id="phour"></span>
                <span id="pminute"></span>
                <span id="psecond"></span>
                経過
                <br>
                残り
                <span id="hour"></span>
                <span id="minute"></span>
                <span id="second"></span>
                <br>
                <span id="ohour" color="red"></span>
                <span id="ominute" color="red"></span>
                <span id="osecond" color="red"></span>
            </h2>
        </div>
        <div class="element" id="state_sentence">
            <h2>
                <span id="now_status"></span>
            </h2>
        </div>
        <div id="Button_set">
            <div class="Button" id="startButton">
            </div>
            <div class="Button" id="stopButton">
                STOP
            </div>
            <div class="Button" id="resetButton">
                RESET
            </div>
        </div>
    </div>
</div>
<script>
    {% if set_time %}
    (function() {
        'use strict';

        var backButton = document.getElementById('backButton');

        var startButton = document.getElementById('startButton');
        var stopButton = document.getElementById('stopButton');
        var resetButton = document.getElementById('resetButton');

        var start_time_show = document.getElementById('start_time');
        var end_time_show = document.getElementById('end_time');
        var phour_show = document.getElementById('phour');
        var pminute_show = document.getElementById('pminute');
        var psecond_show = document.getElementById('psecond');
        var hour_show = document.getElementById('hour');
        var minute_show = document.getElementById('minute');
        var second_show = document.getElementById('second');
        var ohour_show = document.getElementById('ohour');
        var ominute_show = document.getElementById('ominute');
        var osecond_show = document.getElementById('osecond');
        var now_status_show = document.getElementById('now_status');

        var timerId;
        var startTime;
        var remained_time;
        var serial_passed_time;
        var set_time = {{ set_time }};

        var current_time = set_time;
        var pcurrent_time = 0;
        var stop_flag = 1; // ストップボタンを押しているかのフラグ
        var num_SB_pushed = 0; // スタートボタンを押した回数
        // 経過時間初期時
        phour_show.innerHTML = "";
        pminute_show.innerHTML = "";
        psecond_show.innerHTML = 0 + " 秒";

        now_status_show.innerHTML = "Let's Start!";

        // 残り時間初期
        if (set_time >= 3600) {
            hour_show.innerHTML = Math.floor(set_time / 3600) + " 時間 ";
        }
        if (set_time >= 60) {
            minute_show.innerHTML = Math.floor((set_time / 60) % 60) + " 分 ";
        }
        second_show.innerHTML = set_time % 60 + " 秒";

        // スタートボタンを押す前はスタートボタンのみ表示
        if (num_SB_pushed === 0) {

            startButton.innerHTML = "START!";

            backButton.style.display = "none";

            startButton.style.display="block";
            stopButton.style.display="none";
            resetButton.style.display="none";
        }

        // スタートボタンを押したとき
        startButton.addEventListener('click', function() {
            num_SB_pushed++;
            if (num_SB_pushed === 1) {

                startButton.innerHTML = "RESTART";

                var DD = new Date();
                var Hours = DD.getHours();
                var Minutes = DD.getMinutes();
                var Start_in_Sec = Hours * 3600 + Minutes * 60;
                var End_in_Sec = Start_in_Sec + set_time;
                var End_Hours = Math.floor(End_in_Sec / 3600);
                var End_Minutes= Math.floor((End_in_Sec / 60) % 60);
                if (Minutes < 10) { Minutes = "0" + Minutes;}
                if (End_Minutes < 10) { End_Minutes = "0" + End_Minutes;}
                start_time_show.innerHTML = "  " + Hours + " : " + Minutes;
                end_time_show.innerHTML = "  " + End_Hours + " : " + End_Minutes;
            }
            if (stop_flag === 1) {

                backButton.style.display = "none";

                startButton.style.display="none";
                stopButton.style.display="block";
                resetButton.style.display="none";

                now_status_show.innerHTML = "You are working. Fight!";

                stop_flag = 0;
                startTime = Date.now();
                if (timerId !== null) clearTimeout(timerId);
                runTimer();
            }
        });
        startButton.addEventListener('mousedown', function() {
            this.className = 'pushed';
        });
        startButton.addEventListener('mouseup', function() {
            this.className = '';
        });

        // ストップボタンをタップしたとき
        stopButton.addEventListener('click', function() {

            now_status_show.innerHTML = "Stopping Now";

            backButton.style.display = "block";

            startButton.style.display="block";
            stopButton.style.display="none";
            resetButton.style.display="block";

            stop_flag = 1;
            if (timerId !== null) clearTimeout(timerId);
            current_time = remained_time;
            pcurrent_time = serial_passed_time;
        });

        stopButton.addEventListener('mousedown', function() {
            this.className = 'pushed';
        });
        stopButton.addEventListener('mouseup', function() {
            this.className = '';
        });

        // リセットボタンを押したとき
        resetButton.addEventListener('click', function() {
            if (stop_flag === 1) {

                startButton.innerHTML = "START!";

                backButton.style.display = "none";

                startButton.style.display="block";
                stopButton.style.display="none";
                resetButton.style.display="none";

                if (timerId !== null) clearTimeout(timerId);

                // 各変数を初期化
                current_time = set_time;
                pcurrent_time = 0;
                stop_flag = 1;
                num_SB_pushed = 0;

                // 開始時刻と終了予定時刻を消す
                start_time_show.innerHTML = "";
                end_time_show.innerHTML = "";

                // 経過時間をリセット
                phour_show.innerHTML = "";
                pminute_show.innerHTML = "";
                psecond_show.innerHTML = 0 + " 秒";

                // 残り時間をリセット
                if (set_time >= 3600) {
                    hour_show.innerHTML = Math.floor(set_time / 3600) + " 時間 ";
                }
                if (set_time >= 60) {
                    minute_show.innerHTML = Math.floor((set_time / 60) % 60) + " 分 ";
                }
                second_show.innerHTML = set_time % 60 + " 秒";

                // 状態をリセット
                now_status_show.innerHTML = "Let's Start!";

                // 超過時間をリセット
                ohour_show.innerHTML = "";
                ominute_show.innerHTML = "";
                osecond_show.innerHTML = "";
            }
        });
        resetButton.addEventListener('mousedown', function() {
            this.className = 'pushed';
        });
        resetButton.addEventListener('mouseup', function() {
            this.className = '';
        });

        // タイマー処理関数
        function runTimer() {
            var passed_time = ((Date.now() - startTime) / 1000).toFixed(0);

            // 経過時間
            // ↓マイナスになってしまうが、＋演算子ではうまくいかないのでこれで対応
            serial_passed_time = pcurrent_time - passed_time;
            if (serial_passed_time <= -3600) {
                phour_show.innerHTML = Math.floor(-1 * serial_passed_time / 3600) + " 時間 ";
            }
            else {
                phour_show.innerHTML = "";
            }
            if (serial_passed_time <= -60) {
                pminute_show.innerHTML = Math.floor((-1 * serial_passed_time / 60) % 60) + " 分 ";
            }
            else {
                pminute_show.innerHTML = "";
            }
            psecond_show.innerHTML = -1 * serial_passed_time % 60 + " 秒";

            // 残り時間
            remained_time = current_time - passed_time;
            if (remained_time > 0) {
                if (remained_time >= 3600) {
                    hour_show.innerHTML = Math.floor(remained_time / 3600) + " 時間 ";
                }
                else {
                    hour_show.innerHTML = "";
                }
                if (remained_time >= 60) {
                    minute_show.innerHTML = Math.floor((remained_time / 60) % 60) + " 分 ";
                }
                else {
                    minute_show.innerHTML = "";
                }
                second_show.innerHTML = remained_time % 60 + " 秒";
            }
            // 設定時間より超過した時
            else if (remained_time <= 0) {
                second_show.innerHTML = 0 + " 秒";
                if (remained_time <= -3600) {
                    ohour_show.innerHTML = "設定時間から " + Math.floor(-1 * remained_time / 3600) + " 時間 ";
                }
                else {
                    ohour_show.innerHTML = "設定時間から ";
                }
                if (remained_time <= -60) {
                    ominute_show.innerHTML = Math.floor((-1 * remained_time / 60) % 60) + " 分 ";
                }
                else {
                    ominute_show.innerHTML = "";
                }
                osecond_show.innerHTML = -1 * remained_time % 60 + " 秒 超過中";
            }
            else clearTimeout(timerId);
            timerId = setTimeout(function() {
                runTimer();
            }, 10);
        }
    })();
    {% endif %}
</script>
{% endblock %}
