{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="container">
    <div id="header">
        <div id="task_title">
            <h2>タスク実行管理アプリ</h2>
        </div>
    </div>
    <h2 style="color: #000">これは時間制限を設けて効率よく作業をこなすためのアプリです</h2>
    <h2 style="color: #000">タスク名と設定時間を決定し"設定！"をクリックorタップしてください</h2>

    {% if is_task_title and is_set_time %}
    <div id="task_title"><h2>タスク名と設定時間を決めてください</h2></div>
    {% elif is_task_title %}
    <div id="task_title"><h2>タスク名も入力してください</h2></div>
    {% elif is_set_time %}
    <div id="task_title"><h2>設定時間も決めてください</h2></div>
    {% endif %}

    <form action="/todo" method="post" class="form-inline">
      <h2 style="color: black">タスク名: <input id="title_input" type="text" name="task_title"></h2>
        <h2 style="color: black">設定時間:
            <select name="hour">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        時間
            <select name="minute">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
            </select>
         分
        </h2>
        <h2><input id="submit_button" type="submit" name="submit" value="設定!"></h2>
    </form>
</div>
{% endblock %}
