<h2>タスク名 "{{ task_title }}"</h2>

<h2>実行日 {{ done_datetime.year }}年{{ done_datetime.month }}月{{ done_datetime.day }}日</h2>

{% if set_hour and set_minute %}
<h2>設定時間 {{ set_hour }} 時間 {{ set_minute }} 分</h2>
{% elif set_hour %}
<h2>設定時間 {{ set_hour }} 時間</h2>
{% else %}
<h2>設定時間 {{ set_minute }} 分</h2>
{% endif %}

{% if start_minute<10 %}
<h2>開始時刻 {{ start_hour }}:0{{ start_minute }}</h2>
{% else %}
<h2>開始時刻 {{ start_hour }}:{{ start_minute }}</h2>
{% endif %}

{% if done_datetime.minute<10 %}
<h2>終了時刻 {{ done_datetime.hour }}:0{{ done_datetime.minute }}</h2>
{% else %}
<h2>終了時刻 {{ done_datetime.hour }}:{{ done_datetime.minute }}</h2>
{% endif %}

{% if serial_passed_hour %}
<h2>実行時間 {{ serial_passed_hour }} 時間 {{ serial_passed_minute }} 分</h2>
{% else %}
<h2>実行時間 {{ serial_passed_minute }} 分</h2>
{% endif %}

{% if over_time>0 %}
    {% if over_hour>0 %}
<h2>超過時間 {{ over_hour }} 時間 {{ over_minute }} 分</h2>
    {% else %}
<h2>超過時間 {{ over_minute }} 分</h2>
    {% endif %}
{% else %}
<h2>設定時間内に実行完了！</h2>
{% endif %}
