{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Goal{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Edit Goal<h1>
</div>
<div class="col-md-4">
    <div class="edit_mark">
        <form action="/deletegoal/{{ id }}" method="post" class="form-inline" onSubmit="return check()">
            <input type="submit" value="削除">
        </form>
    </div>
    {{ wtf.quick_form(form) }}
    <div class="edit_mark">
        {% if not achieved %}
        <form action="/achievegoal/{{ id }}" method="post" class="form-inline">
            <input type="submit" value="達成!">
        </form>
        {% else %}
        <form action="/unachievegoal/{{ id }}" method="post" class="form-inline">
            <input type="submit" value="未達成に戻す">
        </form>
        {% endif %}
    </div>
</div>
<script>
    function check(){
        if(window.confirm('本当にこの目標を削除してもよろしいですか？')){ // 確認ダイアログを表示
            return true; // 「OK」時は送信を実行
        }
        else{ // 「キャンセル」時の処理
            return false; // 送信を中止
        }
    }
</script>
{% endblock %}
