<!DOCTYPE html>
<html lang="ja">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/static/css/default.css"/>
        <link rel="shortcut icon" href="/static/image/favicon.ico">
        <title>{% block title %}{% endblock %} - Task Do App</title>
        {% endblock %}
    </head>
    <body>
        <div>
            <ul>
                <li><a href="{{ url_for('main.setting_page') }}">HOME</a></li>
            </ul>
            <ul>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>

        {% block content %}{% endblock %}

    </body>
</html>
