{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<div id="org_container">
    <div id="header">
        <div id="task_title">
            {% if current_user.is_authenticated %}
            <h2>Hello! {{ current_user.username }}</h2>
            <h2>Thank you for coming again</h2>
            {% else %}
            <h2>Sorry... I don't know you</h2>
            {% endif %}
            <h2>タスク実行管理アプリ</h2>
        </div>
    </div>
    <h2 style="color: #000">これは時間制限を設けて効率よく作業をこなすためのアプリです</h2>
    <h2 style="color: #000">タスク名と設定時間を決定し"設定！"をクリックorタップしてください</h2>

    {% if not_task_title and not_set_time %}
    <div id="task_title"><h2>タスク名と設定時間を決めてください</h2></div>
    {% elif not_task_title %}
    <div id="task_title"><h2>タスク名も入力してください</h2></div>
    {% elif not_set_time %}
    <div id="task_title"><h2>設定時間も決めてください</h2></div>
    {% endif %}

    <form action="/" method="post" class="form-inline">
        <h2 style="color: black">
            {{ form.hidden_tag() }}
            {{ form.task_title.label }}{{ form.task_title(value=set_task_title, id='title_input') }}
        </h2>
        <h2 style="color: black">設定時間:
            {{ form.hour }} 時間 {{ form.minute }} 分
        </h2>
        <h2>
            {{ form.submit(id='submit_button') }}
        </h2>
    </form>
</div>
{% endblock %}
