{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block title %}{{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.username }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Member since {{ user.member_since }}. Last seen {{ user.last_seen }}</p>
</div>
<h2>Your Done Tasks</h2>
{% for task in tasks %}
    <div class="view_task">
        <p>タスク名: {{ task.task_title }}</p>
        <p>タスク実行完了日時: {{ task.timestamp.year }}年{{ task.timestamp.month }}月{{ task.timestamp.day }}日 {{ task.timestamp.hour + 9}}時{{ task.timestamp.minute }}分</p>
        <p>設定時間: {{ task.set_time//3600 }}時間{{ task.set_time%3600//60}}分</p>
        <p>残り時間: {{ task.remained_time//3600 }}時間{{ task.remained_time%3600//60 }}分</p>
        <p>実行時間: {{ task.serial_passed_time//3600 }}時間{{ task.serial_passed_time%3600//60 }}分</p>
        <!--<p>tasks.user_id: {{ task.user_id }}</p>-->
    </div>
{% endfor %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
</div>
{% endif %}
{% endblock %}
